:root {
    --primary: #252525;
    --secondary: #FFCC00;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    font: normal normal 400 12px/14px 'Roboto', sans-serif;
    letter-spacing: -0.01em;
    color: var(--primary);
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--secondary);
}

img {
    width: 100%;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.site-wr {
    overflow: hidden;
    min-height: 100vh;
}

.header {
    width: 100%;
    padding: 19px 0;
}

.header-grid {
    display: grid;
    grid-template-areas: 'left top' 'left bottom';
    grid-gap: 18px 30px;
    grid-template-columns: 210px auto;
    grid-template-rows: auto;
}

.logo {
    grid-area: left;
    width: 100%;
    font-size: 0;
    margin-top: 18px;
    text-align: center;
}

.logo__desc {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
}

.nav {
    border-bottom: 1px solid #D7D7D7;
    grid-area: top;
}

.nav__menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggler {
    border: none;
    width: 45px;
    height: 45px;
    padding: 5px;
    background-color: var(--primary);
    font-size: 0;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
}

.toggler__line {
    display: block;
    width: 100%;
    border: 2px solid;
    color: var(--secondary);
}

.toggler__line:not(:last-child) {
    margin-bottom: 5px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.menu__item:not(:last-child) {
    margin-right: 22px;
}

.menu--auth .menu__item:first-child {
    padding-right: 13px;
    border-right: 1px solid #000000;
    margin-right: 15px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    grid-area: bottom;
}

.banner {
    width: 253px;
    height: 70px;
    overflow: hidden;
    background-color: #E2E2E2;
    margin-right: 30px;
}

.cart__item:not(:last-child) {
    margin-bottom: 7px;
}

.cart__item--cart {
    font-size: 14px;
}

.cart__item:before {
    margin-right: 11px;
    display: inline-block;
    vertical-align: middle;
}

.cart__item--cart::before {
    content: url('./img/icons/cart.svg');
}

.cart__item--star::before {
    content: url('./img/icons/star.svg');
    margin-left: 5px;
}

.cart__item--balance::before {
    content: url('./img/icons/balance.svg');
}

.popular {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: 70px;
    margin: 0 51px 0 35px;
}

.popular__item,
.popular__item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work-time,
.city {
    display: flex;
    justify-content: space-between;
}

.phone {
    display: block;
    margin: 15px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
}

.city__change span {
    border-bottom: 1px dotted;
}

.city__change::before {
    content: url(./img/icons/arrow.svg);
    display: inline;
    vertical-align: middle;
    margin-right: 4px;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 5px;
    margin-top: 25px;
    height: 35px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: var(--primary);
}

.btn--search {
    font-size: 0;
    line-height: 0;
    background: var(--secondary) url(./img/icons/search.svg) center no-repeat;
    width: 40px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.bar__search {
    flex-shrink: 0;
}

.bar__nav {
    width: 100%;
}

.bar__nav-toggler {
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    display: none;
    padding: 5px 10px;
    height: 100%;
}

.bar__menu {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--primary);
    height: 100%;
}

.bar__menu-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.bar__menu-item a {
    padding: 9px 19px;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.bar__menu-item--active,
.bar__menu-item a:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

.bar__sale {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: var(--secondary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 15px;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 980px;
    }
    .logo__desc {
        font-size: 11px;
    }
    .popular {
        display: none;
    }
    .banner {
        margin-right: 0;
    }
    .header-grid {
        grid-gap: 20px;
        grid-template-columns: 150px auto;
    }
    .bar__menu-item a {
        padding: 10px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        max-width: 720px;
    }
    .header-grid {
        grid-gap: 20px;
        grid-template-columns: 85px auto 45px;
        grid-template-areas: 'left bottom top';
        align-items: flex-start;
    }
    .logo {
        margin-top: 0;
        line-height: 0;
    }
    .logo__desc {
        display: none;
    }
    .banner {
        display: none;
    }
    .nav {
        border-bottom: none;
        justify-self: flex-end;
    }
    .nav__toggler {
        display: block;
    }
    .nav__menus {
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        transition: 0.3s ease-in-out;
        position: absolute;
        display: block;
        right: 0;
        width: 230px;
        background: var(--secondary);
    }
    .menu--main {
        display: block;
        text-align: right;
    }
    .menu--auth {
        justify-content: flex-end;
    }
    .menu__item:not(:last-child) {
        margin: 0;
    }
    .menu__item a {
        display: inline-block;
        padding: 5px 20px;
        width: 100%;
    }
    .menu__item a:hover {
        background-color: var(--primary);
    }
    .menu--auth .menu__item:first-child {
        margin-right: 0;
        padding-right: 0;
    }
    .nav:hover .nav__menus {
        visibility: visible;
        opacity: 1;
        z-index: 4;
        box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
    }
    .cart {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: var(--secondary);
        padding: 8px 5px 0;
    }
    .cart__item {
        margin: 0 10px;
        text-align: center;
    }
    .cart__item--cart {
        font-size: 12px;
    }
    .cart__item:before {
        height: 20px;
        display: block;
        margin: 0 auto 5px;
    }
    .cart__item:hover a {
        color: inherit;
    }
    .header__bottom {
        justify-content: center;
    }
    .phone {
        margin: 10px 0;
    }
    .bar {
        margin-top: 20px;
    }
    .bar__nav {
        width: unset;
        margin-right: auto;
    }
    .bar__nav-toggler {
        display: block;
    }
    .bar__menu {
        visibility: hidden;
        opacity: 0;
        z-index: -4;
        transition: 0.3s ease-in-out;
        position: absolute;
        display: block;
        height: unset;
        left: 0;
        width: 230px;
        background: var(--primary);
    }
    .bar__nav:hover .bar__menu {
        visibility: visible;
        opacity: 1;
        z-index: 4;
        box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
    }
}

@media screen and (max-width: 425px) {
    .header-grid {
        grid-template-columns: auto;
        grid-template-areas: 'left top' 'bottom bottom';
        justify-content: space-between;
    }
    .logo {
        width: 85px;
    }
    .nav:hover .nav__menus {
        box-shadow: 0 0px 4px rgb(0 0 0 / 25%);
    }
    .phone {
        font-size: 22px;
        margin: 5px 0;
    }
}